.menu-wrap {
  width: 100%;
  position: relative;
  z-index: 1001;
  // background: darken($color-background, 4%);

  // margin-top: 380px;
  @include breakpoint($bp-medium) {
    // margin-top: 560px;
  }
}

// .copyright {
//   font-family: $sans;
//   font-size: 12px;
//   padding: 20px;
//   padding-top: 50px;
//
//   @include breakpoint($bp-medium) {
//     padding: 35px;
//     padding-top: 50px;
//     max-width: 860px;
//     margin: 0 auto;
//   }
//
//   @include breakpoint($bp-large) {
//     max-width: 1030px;
//   }
// }
