#members-list {
  ul {
    li {
      font-family: $serif;
      font-size: 32px;
      padding: 20px 0;

      a, a:visited {
        color: $color-text;
      }
    }
  }
}

.main-area {
  &.member {
    #members-list {
      margin-top: 2em;
      background-color: $white;
      ul {
        li {
          &:first-child {
            padding-top: 30px;
          }
          &:last-child {
            padding-bottom: 30px;
          }
          font-size: 20px;
          padding: 10px 0;
        }
      }
    }
  }
}
