#about {
  max-width: 800px;
  margin-bottom: .5em;
  font-size: 18px;
  @include breakpoint($bp-medium) {
    font-size: 24px;
  }
}

#news {
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 30px;
  }
}
