#members-list {

  @include breakpoint($bp-medium) {
    max-width: 340px;
  }

  ul {
    li {
      font-family: $serif;
      font-size: 32px;
      padding: 20px 0;

      a, a:visited {
        color: $color-text;
      }
    }
  }
}

//members list styling on single-members pages
// .main-area {
//   &.member {
//     #members-list {
//       margin-top: 2em;
//       background-color: $white;
//
//       @include breakpoint($bp-medium) {
//         margin-top: 0;
//       }
//
//       ul {
//         li {
//           &:first-child {
//             padding-top: 30px;
//           }
//           &:last-child {
//             padding-bottom: 30px;
//           }
//           font-size: 20px;
//           padding: 10px 0;
//         }
//       }
//     }
//   }
// }
