.wrap {
	width: 100%;
	padding: 0px 35px;

	// position: relative;
	background-color: $color-background;
	// z-index: 9999;

	@include breakpoint($bp-medium) {
	}
}

h1, h2, h3, h4, p, ul, .inset-container {
	width: 100%;
	margin: 0 auto;

	@include breakpoint($bp-medium) {
		max-width: 730px;
	}
}
