body {
	font-family: $sans;
	font-size: 100%;
	line-height: 1.5em;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($bp-medium) {
    // font-size: 1.25em;
    // line-height: 1.75em;
  }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	@include breakpoint($bp-medium) {
    &:hover, &:focus {
  		color: $link-hover;
  	}
  }

	&:active {
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: normal;

		a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-family: $serif;
	line-height: 1.15em;
	font-size: 34px;
	@include breakpoint($bp-medium) {
		font-size: 46px;
	}
}

h2, .h2 {
	font-family: $sans;
	font-size: 20px;
	line-height: 1.6em;

  @include breakpoint($bp-medium) {
    font-size: 30px;
  }
}

h3, .h3 {
	font-family: $sans;
	font-size: 18px;
	@include breakpoint($bp-medium) {
		font-size: 22px;
	}
}

p, ul {
	// font-size: 14px;
	line-height: 1.85em;
	margin-bottom: 1em;
	// -webkit-font-smoothing: auto;

	@include breakpoint($bp-medium) {
		// font-size: 16px;
	}
}

.caption {
	font-size: 12px;
	line-height: 1.65em;
	font-family: $sans;
	-webkit-font-smoothing: antialiased !important;
	color: $color-text-light;
	text-align: left !important;
}
